---
title: Easily Confused
author: Hardi Koortzen
date: '2018-03-26'
slug: easily-confused
categories:
  - R
tags:
  - R
  - pipes
  - tidyverse
  - wrapr
subtitle: ''
---



<p>I have been using <code>R</code> since 2014. This was due to a need of working with Design of Experiments, and the subsequent analysis. My company did not own a software for such a task. There is more dedicated software for such a task, however, I needed something that was open sourced. It was not love at first sight, however, I still found it more suited to my needs. Since I am not a trained or even had any programming teachings, it was a big learning curve for me. As a Scientist, some of the concepts are foreign and I needed some time to understand that. I have ventured into <code>Python</code>, but I found <code>R</code> easier to use for what I wanted to do. There are days that I think that I should beef up my <code>Python</code> skills, and develop some reactor models, but then I realise that I am just a mere scientist, with very limited programming and engineering skills. Maybe one day, when I am all grown up.</p>
<p>Around the same time, there was a drive for ‘tidy data’ and several packages were created, among these, the <code>tidyverse</code>, although, not known as that at the time. As a Scientist working with data obtained during a process evaluation, most of my data is already ‘tidy’, i.e. one row for each observation, and columns for all the variables and outcomes. I therefore, found it easy to ascribe to the tidy data philosophy. Later, I realised how important that was, but that is for another time. As most users of a program, we evolve over time, and I am no exception. I am not an ‘active’ <code>R</code> community member, but I do following several profiles on twitter, and the wealth of information is incredible. Now, why this post, with this name? It seems that I am easily influenced in my programming, probably, as I am self-taught, and do not yet possess all the confidence of others. As the only one in my company using <code>R</code>, it also does not help the situation.</p>
<p>Apart from the influential <a href="https://twitter.com/hadleywickham">Hadley Wickham</a>, since he is a must to follow, I also enjoy the work of <a href="https://twitter.com/WinVectorLLC">John Mount</a>. I enjoy his posts since he shows different ways of doing the same analysis. This is very helpful for me since I learn to do things differently. One function of the <code>tidyverse</code> I find useful is the ‘pipe’, <code>%&gt;%</code>, which allows one to show the evolution of one’s thoughts in working with data. This is also one of the functions that I have the most issues with. I would pipe my thoughts, and then when I run the code, an error message shows, and I am distraught. It then takes me some time to figure out what I did wrong, since I still find it difficult to understand the error messages, but this is my issue, as I have limited understanding of programming. I then start with running the pipe one line at a time, until I find the section, where I made a mistake. Normally it is just a case of not using the correct column name or leaving out a required function argument. In some cases, it had to do with the <code>class</code> of the object I used for the function, others being that I did not read the full function documentation.</p>
<p>One of the uniqueness of <code>R</code>, is the left assignment, <code>&lt;-</code>, and I understand this, and it makes sense to me. However, when I am writing a pipe function, it seems better to use the right assignment, <code>-&gt;</code> at the end of the pipe. This shows that what have started have flowed into the final container. This is still controversial, and the guidelines all say that it is <strong>bad</strong> to do. I therefore abide by this philosophy, but ever so often feel that it should be OK to use <code>-&gt;</code>.</p>
<p>In one of John Mount’s <a href="http://www.win-vector.com/blog/2017/07/in-praise-of-syntactic-sugar/">posts</a>, he discussed pipes, again, and showed several examples of different <em>pipes</em>. One that resonated with me was the <code>-&gt;.;</code>, and ending with <code>-&gt;</code> version shown. I did comment on this blog, and indicated, that I had always preferred ending pipes with <code>-&gt;</code>, although it is frowned upon in the community. Thus, my post. I am easily confused by all these and seem to change my style ever so often, although <code>%&gt;%</code>, seems to be the go to pipe notation. As John mentioned in his post, <code>-&gt;.;</code> is an ugly looking glyph, and he have since released something similar, <code>%.&gt;%</code> (see <code>wrapr</code> <a href="https://cran.r-project.org/web/packages/wrapr/index.html">package</a>), however, this requires the use of the ‘dot’ in the next function, i.e. <code>4 %.&gt;% sin(.)</code>, similar to what is required using <code>-&gt;.;</code>. Thus, for a while I had been using <code>-&gt;.;</code> in my pipes, but found that I prefer how the aligned code looks with <code>%&gt;%</code>. Now that <code>%.&gt;%</code> is available and functions more like <code>%&gt;%</code> in the code alignment, I am wondering whether not to revert to it.</p>
<p>The <code>dplyr</code> code alignment:</p>
<pre class="r"><code>my_data &lt;- my_data %&gt;%
  summarise(y = mean(x))</code></pre>
<p>The <code>-&gt;.;</code> code alignment:</p>
<pre class="r"><code>my_data -&gt;.;
summarise(., y = mean(x))</code></pre>
<p>The <code>wrapr</code> code alignment:</p>
<pre class="r"><code>my_data &lt;- my_data %.&gt;%
  summarise(., y = mean(x))</code></pre>
<p>Therefore, I am so easily confused, and then feel that I need to change things. <a href="http://blog.revolutionanalytics.com/2018/03/the-most-prolific-package-maintainers-on-cran.html">Posts</a> like these does not make the matter any clearer, and it shows that there are some cases where the use of <code>-&gt;</code> can be justified, probably not this one.</p>
<pre class="r"><code>my_data %&gt;%
  summarise(y = mean(x)) -&gt;
  my_data</code></pre>
<p>The preciding can be simplified with the <code>%&lt;&gt;%</code> function from the <code>magrittr</code> package:</p>
<pre class="r"><code>my_data %&lt;&gt;%
  summarise(., y = mean(x))</code></pre>
<p>To further confuse me, there is also the following from <a href="http://www.win-vector.com/blog/2018/03/r-tip-break-up-function-nesting-for-legibility/">John</a>, where he uses the ‘dot’ assignment, albeit, more to show base <code>R</code> functions. More confusion for me. This way, I do not have to worry about names, like when using <code>%&gt;%</code>, and there is no need for <code>-&gt;</code>, since when done, the normal left assignment is used.</p>
<pre class="r"><code>. &lt;- my_data
. &lt;- summarise(., y = mean(x))
my_data &lt;- .</code></pre>
<p>So, what is next for me. I have a few things that I would like to write about here, thus I need to use pipes to achieve this. Which pipes? I am not sure and need to digest this a bit. In writing this, it seems that I need to make a choice on my style guide and internalise it. Working on my own does make this harder than most others will find. It does not help that <code>R</code> makes it so easy to do the same thing in several different ways.</p>
