---
title: An ode to `magrittr` and Pipes
author: Hardi Koortzen
date: '2018-05-29'
slug: an-ode-to-magrittr-and-pipes
categories:
  - R
tags:
  - magrittr
  - pipes
  - R
  - tidyverse
subtitle: ''
---



<p>OK, this is not an <a href="https://en.wikipedia.org/wiki/Ode">Ode</a>, since I am no poet, and will not even attempt one. This is rather a tribute to the <code>magrittr</code> package from <a href="https://cran.r-project.org/web/packages/magrittr/index.html">Hadley and co</a>. I am sure most people are used to the forward pipe operator glyph (<code>%&gt;%</code>), and how helpful that can be. The aim here is not to just focus on that glyph. The <code>magrittr</code> package include some other pipe operators as well. In my last couple of post, I have used these, and thought it useful to reflect on their use. This is not an in-depth discussion as to why and how these works, and whether or not they should be used, but just, one man’s opinion on their usefulness.</p>
<p>As mentioned, most are familiar with <code>%&gt;%</code>, but just a quick recap on its use. This is useful, especially if you want to limit the amount of objects in your environment, and if you find naming things difficult. This helps reading with code, as you can follow from the start to the finish. For more on this, please find an excellent resource <a href="http://r4ds.had.co.nz/pipes.html">here</a>. I would recommend reading this whole book, and not just this chapter.</p>
<p>Now it is not necessary to import the <code>magrittr</code> package, when calling any of the <code>tidyverse</code> packages, as these import the forward pipe operator (<code>%&gt;%</code>), by default, and it even has it’s own short cut in <code>RStudio</code> (<code>Crtl + Shift + M</code>), which helps typing these so much quicker and easier.</p>
<pre class="r"><code>library(&quot;magrittr&quot;)
library(&quot;tidyverse&quot;)

world_phones &lt;- WorldPhones %&gt;%
  as.data.frame(.) %&gt;%
  rownames_to_column(var = &quot;year&quot;) %&gt;%
  gather(., key = &quot;region&quot;, value = &quot;phones_thousands&quot;, -year)</code></pre>
<pre><code>## Observations: 49
## Variables: 3
## $ year             &lt;chr&gt; &quot;1951&quot;, &quot;1956&quot;, &quot;1957&quot;, &quot;1958&quot;, &quot;1959&quot;, &quot;1960...
## $ region           &lt;chr&gt; &quot;N.Amer&quot;, &quot;N.Amer&quot;, &quot;N.Amer&quot;, &quot;N.Amer&quot;, &quot;N.Am...
## $ phones_thousands &lt;dbl&gt; 45939, 60423, 64721, 68484, 71799, 76036, 798...</code></pre>
<p>Here we can see the value of <code>%&gt;%</code>, as there is no need to create multiple intermediate names. Looking at the code, also makes it clear what we did. Comments can help here, however, we will just be repeating ourselves and this will clutter the code further. I am sure there is no surprise in this way of writing code.</p>
<p>The next operator I want to discus is the compound assignment operator (<code>%&lt;&gt;%</code>). This pipe the lhs forward, and then update (reassign) the lhs side object with the rhs. This is useful when updating the same object, with further operations, and work similar to:</p>
<pre class="r"><code># not run
world_phones &lt;- world_phones %&gt;%
  mutate(., region = str_replace(region, &quot;Mid.Amer&quot;, &quot;Mid America&quot;)) %&gt;%
  mutate(., region = str_replace(region, &quot;N.Amer&quot;, &quot;North America&quot;)) %&gt;%
  mutate(., region = str_replace(region, &quot;S.Amer&quot;, &quot;South America&quot;))</code></pre>
<p>Continuing with the previous dataset, let’s do some more cleaning.</p>
<pre class="r"><code>world_phones %&lt;&gt;%
  mutate(., region = str_replace(region, &quot;Mid.Amer&quot;, &quot;Mid America&quot;)) %&gt;%
  mutate(., region = str_replace(region, &quot;N.Amer&quot;, &quot;North America&quot;)) %&gt;%
  mutate(., region = str_replace(region, &quot;S.Amer&quot;, &quot;South America&quot;))</code></pre>
<pre><code>## Observations: 49
## Variables: 3
## $ year             &lt;chr&gt; &quot;1951&quot;, &quot;1956&quot;, &quot;1957&quot;, &quot;1958&quot;, &quot;1959&quot;, &quot;1960...
## $ region           &lt;chr&gt; &quot;North America&quot;, &quot;North America&quot;, &quot;North Amer...
## $ phones_thousands &lt;dbl&gt; 45939, 60423, 64721, 68484, 71799, 76036, 798...</code></pre>
<p>We have used the <code>world_phones</code> object, and perform some more transformations to it, and then assign this, again to <code>world_phones</code>. This operator needs to be the first one, we cannot have it somewhere in the middle or end. Now, I am not sure how many people take the data, and then assign it to the same, however, I do this quite a bit, as in the end, I want clean data, and need some common tasks to accomplish this.</p>
<p>Another useful pipe is the tee operator (<code>%T&gt;%</code>), the tee operator works like <code>%&gt;%</code>, except the return value is lhs itself, and not the result of rhs function/expression. This is useful in saving your data, before containing with the pipe.</p>
<pre class="r"><code>world_phones %&lt;&gt;%
  mutate(., year = as.integer(year)) %&gt;%
  mutate(., region = factor(region)) %T&gt;%
  write_rds(., here::here(&quot;static/data/world_phones.rds&quot;), &quot;xz&quot;)</code></pre>
<pre><code>## Observations: 49
## Variables: 3
## $ year             &lt;int&gt; 1951, 1956, 1957, 1958, 1959, 1960, 1961, 195...
## $ region           &lt;fct&gt; North America, North America, North America, ...
## $ phones_thousands &lt;dbl&gt; 45939, 60423, 64721, 68484, 71799, 76036, 798...</code></pre>
<p>What did just happen? Well, we have worked with the data, changed the <code>year</code> and make the <code>region</code> factors, assign it back to <code>world_phones</code>, however, before that, we have also saved the cleaned data to disk (<code>write_rds()</code>), using the <code>%T&gt;%</code> operator. We know that the <code>write_rds()</code> functions, does not return anything, thus using the <code>%T&gt;%</code> operator, we can save the data, before assigning it to the lhs object. Maybe another example will help here as well.</p>
<pre class="r"><code>world_phones %&gt;%
  filter(., year &gt;= 1956) %&gt;%
  group_by(., year, region) %&gt;%
  summarise(., total_phones_thousands = sum(phones_thousands)) %&gt;%
  mutate(., region = reorder(region, total_phones_thousands)) %T&gt;%
  write_rds(., here::here(&quot;static/data/plt_total_phones.rds&quot;), &quot;xz&quot;) %&gt;%
  ggplot(., aes(x = year, y = total_phones_thousands, fill = region)) +
  geom_col(show.legend = FALSE) +
  scale_fill_blog() +
  coord_cartesian(xlim = c(1954, 1962), ylim = c(0, 150000)) +
  labs(
    title = &quot;Total Phones per Year&quot;,
    subtitle = &quot;Coloured by region, not shown&quot;,
    x = &quot;Year&quot;,
    y = &quot;Total Phones&quot;
  )</code></pre>
<div class="figure" style="text-align: center"><span id="fig:plt-total-phones"></span>
<img src="/post/2018-05-29-an-ode-to-magrittr-and-pipes_files/figure-html/plt-total-phones-1.png" alt="Total phones per year and coloured by region." width="95%" />
<p class="caption">
Figure 1: Total phones per year and coloured by region.
</p>
</div>
<p>It is sometimes useful to do some more transformation before plotting the data, and then it would be useful to save this data for later, something I rarely do, however, it is a good idea. Do as I say, not as I do, it would seem here 😔. Now we have the data saved, and the visualisation. Win-win. There are probably a plethora of other uses for the <code>%T&gt;%</code> operator, and here I only used it to save data, which is still very useful.</p>
<p>The last one is the exposition operator (<code>%$%</code>), which is used to expose the names in the lhs to the rhs expression. Now, I am not going to retrieve all the <a href="/2018/04/30/us-patents-getting-and-first-analysis/">patents search</a> data again, so will just load a saved version of this. I must admit, that to date, this is the only time I have used the <code>%$%</code> operator. I am not sure how many times this will be relevant, and probably depends on the data source used.</p>
<p>Let’s look at the output from the <code>patentsview::search_pv()</code> function:</p>
<pre><code>## List of 3
##  $ data         :List of 1
##   ..$ patents:&#39;data.frame&#39;:  5481 obs. of  9 variables:
##   .. ..$ patent_abstract               : chr [1:5481] &quot;A device for preheating gases of waste lines, particularly for the catalytic purification of exhaust gases comp&quot;| __truncated__ &quot;The present invention relates to a method of manufacturing a gas rich in methane by subjecting two varieties or&quot;| __truncated__ &quot;The contact heating of boiler feed water for steam heating systems is effected by mixing recirculated boiler st&quot;| __truncated__ &quot;A manifold for an internal combustion engine to serve also as an exhaust gas depollution reactor. An ante-chamb&quot;| __truncated__ ...
##   .. ..$ patent_date                   : chr [1:5481] &quot;1976-01-06&quot; &quot;1976-01-13&quot; &quot;1976-01-27&quot; &quot;1976-02-03&quot; ...
##   .. ..$ patent_num_cited_by_us_patents: chr [1:5481] &quot;1&quot; &quot;5&quot; &quot;7&quot; &quot;13&quot; ...
##   .. ..$ patent_number                 : chr [1:5481] &quot;3930789&quot; &quot;3932147&quot; &quot;3934799&quot; &quot;3935705&quot; ...
##   .. ..$ patent_title                  : chr [1:5481] &quot;Device for preheating waste gases of an exhaust conduit&quot; &quot;Method of reforming hydrocarbons&quot; &quot;High-capacity steam heating system&quot; &quot;Exhaust manifold for an internal combustion engine&quot; ...
##   .. ..$ patent_year                   : chr [1:5481] &quot;1976&quot; &quot;1976&quot; &quot;1976&quot; &quot;1976&quot; ...
##   .. ..$ inventors                     :List of 5481
##   .. ..$ assignees                     :List of 5481
##   .. ..$ cpcs                          :List of 5481
##   ..- attr(*, &quot;class&quot;)= chr [1:2] &quot;list&quot; &quot;pv_data_result&quot;
##  $ query_results:List of 1
##   ..$ total_patent_count: int 5481
##   ..- attr(*, &quot;class&quot;)= chr [1:2] &quot;list&quot; &quot;pv_query_result&quot;
##  $ request      :List of 2
##   ..$ method: chr &quot;GET&quot;
##   ..$ url   : chr &quot;http://www.patentsview.org/api/patents/query?q=%7B%22_or%22:[%7B%22_text_all%22:%7B%22patent_abstract%22:%22cat&quot;| __truncated__
##   ..- attr(*, &quot;class&quot;)= chr [1:2] &quot;list&quot; &quot;pv_request&quot;
##  - attr(*, &quot;class&quot;)= chr [1:2] &quot;list&quot; &quot;pv_result&quot;</code></pre>
<p>As seen, this is a named list, containing three lists (<code>data</code>, <code>query_resutls</code>, <code>request</code>). We are only interested in the <code>data</code> list, and when looking at the <code>patentsview</code> package documentation, the <code>cast_pv_data()</code> function, is used with the <code>$</code> (<code>patents_all$data</code>), thus, if we want to pipe the result into this function, we need to use the <code>$</code>, and that’s why we need the <code>%$%</code> operator.</p>
<pre class="r"><code>read_rds(here::here(&quot;static/data/patents_search.rds&quot;)) %$%
  # unquoted name of the named object we want to expose
  data %&gt;%
  patentsview::cast_pv_data(.) %$%
  # unquoted name
  patents %&gt;%
  as_tibble(.) -&gt;
  patents_all</code></pre>
<pre><code>## Observations: 5,481
## Variables: 9
## $ patent_abstract                &lt;chr&gt; &quot;A device for preheating gases ...
## $ patent_date                    &lt;date&gt; 1976-01-06, 1976-01-13, 1976-0...
## $ patent_num_cited_by_us_patents &lt;int&gt; 1, 5, 7, 13, 9, 27, 109, 27, 8,...
## $ patent_number                  &lt;chr&gt; &quot;3930789&quot;, &quot;3932147&quot;, &quot;3934799&quot;...
## $ patent_title                   &lt;chr&gt; &quot;Device for preheating waste ga...
## $ patent_year                    &lt;int&gt; 1976, 1976, 1976, 1976, 1976, 1...
## $ inventors                      &lt;list&gt; [&lt;c(&quot;Kenner&quot;, &quot;Hans&quot;), c(&quot;Eric...
## $ assignees                      &lt;list&gt; [&lt;NA, NA, NA, NA, NA, NA&gt;, &lt;NA...
## $ cpcs                           &lt;list&gt; [&lt;c(&quot;F01N&quot;, &quot;F01N&quot;, &quot;F01N&quot;, &quot;Y...</code></pre>
<p>That is if folks. I am really glad about the creation of the <code>magrittr</code> pipes, and since I am not a developer, but just a user, all the inner workings of these gets lost on me, and I cannot explain this to anyone. For those who are really interested in that, I am sure the documentation and the inner workings of the functions are well documented.</p>
<p>There are clearly more use cases for <code>%&gt;%</code>, and the <code>%&lt;&gt;%</code> operators, than the other two, although, I have enjoyed the <code>%T&gt;%</code> operator, since I need to save some more data to disk. The use cases for the <code>%$%</code> is limited, and although this is useful, I am not quite sure how and when to use this. In my daily life, this is not something that is used that often. In a later post, I will discus my journey with the creation of this blog, and there you can learn how to add these to your own package, without the need to call the <code>magrittr</code> package.</p>
