---
title: BP Annual Survey - Importing and Cleaning of the Data
author: Hardi Koortzen
date: '2018-05-22'
categories:
  - R
tags:
  - BP Annual Survey
  - Quandl
  - R
  - rvest
  - tidyverse
slug: bp-annual-survey-importing-and-cleaning-of-the-data
---



<p>Working in the Petrochemical industry, I am interested in oil and gas reserves in the world. It is difficult to find historical data for oil and gas reserves. <a href="https://on.bp.com/2rQZR61">BP</a> has an annual survey, dating back to the 1980’s, and this is updated yearly. The file one can download, in <code>Excel</code> format, is not the best to work with and requires allot of wrangling to get it into a decent format. Fortunately, this data is also available via <a href="http://bit.ly/quandl_BP">Quandl</a>. This lags a bit on the reported data, however, this is easier to work with, as it is a call to their API. There is no need to register, one can simply just download the package and interact with their API, although this is limited to 50 calls a day, and a limit of 20 calls per 10 minutes. Registration is free, and allows one to have more calls (a limit of 300 calls per 10 seconds, 2,000 calls per 10 minutes and a limit of 50,000 calls per day) to the site. Registration will give one an API key, which can then be used during the calls in the <code>Quandl</code> functions. In order to freely distribute code, I have followed the guidance of <a href="http://bit.ly/2k6r1SX">others</a>, and created a <code>.Renviron</code> file, which contains my Quandl API key. Just one line, and that is all. We will later see how to use it.</p>
<pre><code>quandl_key = your_api_key_here</code></pre>
<p>This is a big dataset, and contains various codes to be downloaded. Now one can simply find the codes, by searching for the codes, create a <code>tibble()</code> and <code>map()</code> the data, however, this is very time consuming, and one needs to redo this frequently, since codes might be added. I am not in the habit of making my life more difficult, thus I needed to find an alternative.</p>
<p>Fortunately, one can download a <code>.zip</code> file, containing all the codes, again, not one for doing this manually, I needed a way of doing it reproducibly in <code>R</code>. Some searching let me to this Stack Overflow <a href="http://bit.ly/2Iv3OZ2">question</a>. Now, I had some issues with the file I wanted to download, and could not get my code replacement to work. Well, a bit of preservation, let me to the following.</p>
<pre class="r"><code>library(&quot;tidyverse&quot;)

bp_codes_file &lt;- tempfile()

&quot;https://www.quandl.com/api/v3/databases/BP/codes&quot; %&gt;%
  paste(., &quot;?api_key=&quot;, Sys.getenv(&quot;quandl_key&quot;), sep = &quot;&quot;) %&gt;%
  download.file(
    url      = .,
    destfile = bp_codes_file,
    mode     = &quot;wb&quot;,
    quiet    = TRUE
  )

unzip(zipfile = bp_codes_file, exdir = tempdir()) %&gt;%
  read_csv(., col_names = FALSE) %&gt;%
  select(., code = X1, description = X2) %&gt;%
  arrange(., description) -&gt;
  bp_codes</code></pre>
<pre><code>## Observations: 2,350
## Variables: 2
## $ code        &lt;chr&gt; &quot;BP/BIOFUEL_PROD_D_ARG&quot;, &quot;BP/BIOFUEL_PROD_D_AUS&quot;, ...
## $ description &lt;chr&gt; &quot;Biofuel Production - Daily Average - Argentina&quot;, ...</code></pre>
<p>A few things here, I really wanted to ‘pipe’ this, however, I had issues with the <code>unzip()</code> function in the pipe, thus the code here. We start by first creating a temporary file (<code>tempfile()</code>), next we download the file to this temporary file, using <code>download.file()</code>. If you have registered, and saved the API key to your <code>.Renviron</code> file, we can <code>paste()</code> these together, and not be worried about sharing our API key. The <code>.csv</code> file, does not have header rows, and the argument <code>col_names = FALSE</code> needs to be used. I used the <code>select()</code> function, to change the column names, and to select only the columns we are interested in, although this is only two.</p>
<p>Now, I mentioned that this is a big dataset, and here we have 2350 observations. Now that is quite a bit of codes, and thus the manual, search and create, would be quite long and time consuming. Now we could probably use all these and get all the data, however, this will be really big, and also would require further filtering and wrangling, before using these.</p>
<p>Since these are subdivided into section, not as obvious yet, we can rather just select the codes we are interested in for a particular section. OK, I confused myself there, so let me give an example. I am only interested in the ‘Proved Oil Reserves’ for all the countries. This can be used to filter the codes to those for that only, and then we can download these.</p>
<pre class="r"><code>bp_codes %&gt;%
  filter(., str_detect(description, &quot;Proved Oil Reserves&quot;)) -&gt;
  proved_oil_reserves</code></pre>
<pre><code>## Observations: 62
## Variables: 2
## $ code        &lt;chr&gt; &quot;BP/OIL_RESERVES_DZA&quot;, &quot;BP/OIL_RESERVES_AGO&quot;, &quot;BP/...
## $ description &lt;chr&gt; &quot;Proved Oil Reserves - Algeria&quot;, &quot;Proved Oil Reser...</code></pre>
<p>This is better. This is reduced to only 62 codes now. Upon closer inspection, there are ones which are an aggregation of areas, i.e ‘Total Africa’, and these can be removed, since we are do not require those.</p>
<pre class="r"><code>proved_oil_reserves %&lt;&gt;%
  filter(., !str_detect(description, &quot;Total&quot;))</code></pre>
<pre><code>## Observations: 55
## Variables: 2
## $ code        &lt;chr&gt; &quot;BP/OIL_RESERVES_DZA&quot;, &quot;BP/OIL_RESERVES_AGO&quot;, &quot;BP/...
## $ description &lt;chr&gt; &quot;Proved Oil Reserves - Algeria&quot;, &quot;Proved Oil Reser...</code></pre>
<p>Since we will be using the data to look at maps, it will be worthwhile to get the names of the countries and regions. First we can extract the country names from the <code>description</code> column. While we are working with the names, we can start by getting them to a state where they will be compatible with the <code>map_data(&quot;world&quot;)</code> dataset. This is not obvious now, and can be done later, if one so desires. A new column (<code>country</code>) was also created, and this just extract the names from the <code>decription</code> column, and will be use to plot and aggregate the data.</p>
<pre class="r"><code>proved_oil_reserves %&lt;&gt;%
  mutate(., description = str_replace(description, &quot;Trinidad &amp; Tobago&quot;, &quot;Trinidad&quot;)) %&gt;%
  mutate(., description = str_replace(description, &quot;United Kingdom$&quot;, &quot;UK&quot;)) %&gt;%
  mutate(., country = if_else(
    !str_detect(description, &quot;Other&quot;),
    str_remove(description, &quot;Proved Oil Reserves - &quot;),
    NA_character_
  ))</code></pre>
<pre><code>## Observations: 55
## Variables: 3
## $ code        &lt;chr&gt; &quot;BP/OIL_RESERVES_DZA&quot;, &quot;BP/OIL_RESERVES_AGO&quot;, &quot;BP/...
## $ description &lt;chr&gt; &quot;Proved Oil Reserves - Algeria&quot;, &quot;Proved Oil Reser...
## $ country     &lt;chr&gt; &quot;Algeria&quot;, &quot;Angola&quot;, &quot;Argentina&quot;, &quot;Australia&quot;, &quot;Az...</code></pre>
<p>Next is to find the region where these countries are, i.e. the continents, however, I want to keep the ‘Middle East’ separate, since this region is an important one in the oil industry. Again, we can all do this with nested <code>if_else()</code> functions, but to find all the countries and regions will just be too time consuming. Hopefully there are already tables on the web that can help us? Luckily, Wikipedia already give us these information, see <a href="http://bit.ly/sovereign_states_and_dependent_territories_by_continent">here</a> and <a href="http://bit.ly/middle_east_countries">here</a>. We can get this table using the <code>rvest</code> package, and with a bit of name cleaning, all the countries will have a region. Since there are 7 tables to get the data from, and adhering, somewhat, to the only copy and paste three times, before writing a function, I wrote a function (<code>get_countries_region()</code>).</p>
<pre class="r"><code>get_countries_region &lt;- function(url, x_path, col_name) {
  # function for getting the countries and regions from the Wikipedia site
  # params:
  #         url link to the page you want to read
  #         x_path is the XPath to the required table
  #         col_name is the column name used to get the country name
  # return: a tibble containing the countries in that region
  
  url %&gt;%
    read_html(.) %&gt;%
    html_node(., xpath = x_path) %&gt;%
    html_table(., fill = TRUE) %&gt;%
    as_tibble(.) %&gt;%
    select(., country = starts_with(col_name)) %&gt;%
    # removed strings between brackets [()]
    mutate(., country = str_remove(country, &quot;\\((.*?)\\)&quot;)) %&gt;%
    # ensuring that no whitespaces are present in the country name
    mutate(., country = str_trim(country)) %&gt;%
    mutate(.,
           country = str_replace(
             country,
             &quot;Democratic Republic of the Congo&quot;,
             &quot;Republic of Congo&quot;)) %&gt;%
    mutate(., country = str_replace(country, &quot;Russia$&quot;, &quot;Russian Federation&quot;)) %&gt;%
    mutate(., country = str_replace(country, &quot;Trinidad and Tobago&quot;, &quot;Trinidad&quot;)) %&gt;%
    mutate(., country = str_replace(country, &quot;United Kingdom$&quot;, &quot;UK&quot;)) %&gt;%
    mutate(., country = str_replace(country, &quot;United States$&quot;, &quot;USA&quot;)) %&gt;%
    return(.)
  
}</code></pre>
<p>So what does this function do? It will look at the <code>url</code>, and extract the table (<code>x_path</code>) specified. It then select the <code>.col_name</code> specified, and rename it to <code>country</code>. Then removes all text between and including the brackets <code>&quot;\\((.*?)\\)&quot;</code>. Next, it will change a few country names, this is done to make them compatible with the <code>map_data(&quot;world&quot;)</code> dataset. Now this function can be used to get the countries in the specified regions.</p>
<pre class="r"><code>library(&quot;rvest&quot;)

tribble(
  ~ x_path,                                   ~ region,
  &#39;//*[@id=&quot;mw-content-text&quot;]/div/table[2]&#39;,  &quot;Africa&quot;,
  &#39;//*[@id=&quot;mw-content-text&quot;]/div/table[4]&#39;,  &quot;Asia Pacific&quot;,
  &#39;//*[@id=&quot;mw-content-text&quot;]/div/table[6]&#39;,  &quot;Europe &amp; Eurasia&quot;,
  &#39;//*[@id=&quot;mw-content-text&quot;]/div/table[8]&#39;,  &quot;North America&quot;,
  &#39;//*[@id=&quot;mw-content-text&quot;]/div/table[10]&#39;, &quot;S. &amp; Cent. America&quot;,
  &#39;//*[@id=&quot;mw-content-text&quot;]/div/table[12]&#39;, &quot;Oceania&quot;,
  &#39;//*[@id=&quot;mw-content-text&quot;]/div/table[13]&#39;, &quot;Antarctica&quot;
  ) %&gt;%
  mutate(
    .,
    data = map(
      .x       = x_path,
      .f       = get_countries_region,
      url      = &quot;http://bit.ly/sovereign_states_and_dependent_territories_by_continent&quot;,
      col_name = &quot;Name&quot;
    )
  ) %&gt;%
  unnest(., data) %&gt;%
  select(., country, region) %T&gt;%
  # saving file for later
  write_rds(., here::here(&quot;static/data/world_countries.rds&quot;), &quot;xz&quot;) %&gt;%
  left_join(proved_oil_reserves, ., by = &quot;country&quot;) %&gt;%
  mutate(., region = if_else(str_detect(country, &quot;USSR&quot;), &quot;Europe &amp; Eurasia&quot;, region)) %&gt;%
  mutate(., region = if_else(
    is.na(region),
    str_remove(description, &quot;Proved Oil Reserves - Other &quot;),
    region
  )) %&gt;%
  arrange(., region) -&gt;
  proved_oil_reserves</code></pre>
<pre><code>## Observations: 55
## Variables: 4
## $ code        &lt;chr&gt; &quot;BP/OIL_RESERVES_DZA&quot;, &quot;BP/OIL_RESERVES_AGO&quot;, &quot;BP/...
## $ description &lt;chr&gt; &quot;Proved Oil Reserves - Algeria&quot;, &quot;Proved Oil Reser...
## $ country     &lt;chr&gt; &quot;Algeria&quot;, &quot;Angola&quot;, &quot;Chad&quot;, &quot;Egypt&quot;, &quot;Equatorial ...
## $ region      &lt;chr&gt; &quot;Africa&quot;, &quot;Africa&quot;, &quot;Africa&quot;, &quot;Africa&quot;, &quot;Africa&quot;, ...</code></pre>
<p>Now we can use this custom function to get the tables on the Wikipedia pages. First, we create a <code>tibble()</code>, containing the XPath (<code>x_path</code>) and the <code>region</code>. Next we <code>map()</code> this to the column <code>data</code>, specifying the <code>url</code> and the <code>col_name</code>. Now, one can create a <code>tibble()</code> containing those as well, and then using <code>pmap()</code> to map all these, however, since the <code>url</code> and <code>col_name</code> are the same for all, I decided to just assign these during the <code>map()</code> call. Next we <code>unnest()</code> and select the country and region columns. Now we can join this to our original data. Here <code>left_join()</code> works best, with the original data being the <code>x</code> data, and the country data the <code>y</code>. Why do it this way? Well, we only want to get the region for those countries in our dataset. This eliminate some additional filtering later.</p>
<p>Now this is all good and well, however, I am still missing the ‘Middle East’ region. To find the countries in that region, requires another link. Now at least we have a function that will help us to get these.</p>
<pre class="r"><code>get_countries_region(url = &quot;http://bit.ly/middle_east_countries&quot;,
                     x_path = &#39;//*[@id=&quot;mw-content-text&quot;]/div/table[2]&#39;,
                     col_name = &quot;Country&quot;) %&gt;%
  # to distinguish it from the original region
  # will be removed later
  mutate(., region1 = &quot;Middle East&quot;) %T&gt;%
  # saving file for later
  write_rds(., here::here(&quot;static/data/middle_east_countries.rds&quot;), &quot;xz&quot;) %&gt;%
  left_join(proved_oil_reserves, ., by = &quot;country&quot;) %&gt;%
  mutate(., region = if_else(is.na(region1), region, region1)) %&gt;%
  select(., -region1) %&gt;%
  arrange(., region) -&gt;
  proved_oil_reserves</code></pre>
<pre><code>## Observations: 55
## Variables: 4
## $ code        &lt;chr&gt; &quot;BP/OIL_RESERVES_DZA&quot;, &quot;BP/OIL_RESERVES_AGO&quot;, &quot;BP/...
## $ description &lt;chr&gt; &quot;Proved Oil Reserves - Algeria&quot;, &quot;Proved Oil Reser...
## $ country     &lt;chr&gt; &quot;Algeria&quot;, &quot;Angola&quot;, &quot;Chad&quot;, &quot;Equatorial Guinea&quot;, ...
## $ region      &lt;chr&gt; &quot;Africa&quot;, &quot;Africa&quot;, &quot;Africa&quot;, &quot;Africa&quot;, &quot;Africa&quot;, ...</code></pre>
<p>Now that we have all the codes, we can get the data for the proved oil reserves for all the countries in the BP dataset. This was quite a lot of code to just get the countries and regions from the codes and description of the original data, however, it will pay-off quite soon. At least now we have columns for the countries and the region, and can just focus on getting the data. This can be done using the <code>Quandl</code> package for the Quandl API. Registering really pays off here, as we will be doing quite a few calls in a short period of time. Here we start with our cleaned codes, and <code>map()</code> this to the <code>Quandl()</code> function. We keep the defaults, so no need for additional arguments. This should now be familiar, as we are recycling things here. I am doing it this way, thus keeping all our hard work in getting the country and regions together with the data.</p>
<pre class="r"><code>library(&quot;Quandl&quot;)

Quandl.api_key(Sys.getenv(&quot;quandl_key&quot;))

proved_oil_reserves %&lt;&gt;%
  mutate(., data = map(code, Quandl)) %&gt;%
  unnest(., data) %&gt;%
  select(.,
         code:region,
         date = Date,
         oil_reserves_billion_barrels = Value) %&gt;%
  arrange(., country, desc(date)) %&gt;%
  mutate(., region = fct_relevel(region, &quot;Oceania&quot;, after = Inf)) %T&gt;%
  # save data to limit calls to API
  write_rds(., here::here(&quot;static/data/proved_oil_reserves.rds&quot;), &quot;xz&quot;)</code></pre>
<pre><code>## Observations: 1,954
## Variables: 6
## $ code                         &lt;chr&gt; &quot;BP/OIL_RESERVES_DZA&quot;, &quot;BP/OIL_RE...
## $ description                  &lt;chr&gt; &quot;Proved Oil Reserves - Algeria&quot;, ...
## $ country                      &lt;chr&gt; &quot;Algeria&quot;, &quot;Algeria&quot;, &quot;Algeria&quot;, ...
## $ region                       &lt;fct&gt; Africa, Africa, Africa, Africa, A...
## $ date                         &lt;date&gt; 2016-12-31, 2015-12-31, 2014-12-...
## $ oil_reserves_billion_barrels &lt;dbl&gt; 12.200, 12.200, 12.200, 12.200, 1...</code></pre>
<p>And there it is. The proved oil reserves, per country and region, since 1980. An additional column here is the <code>oil_reserves_billion_barrels</code>, and that is just to give the column a name that tells one what it contains, and in what units it is in. If we so desire, we can change the units to something else, but we do not have to consult the API to understand what units we have now. Our data is also in a good place and we can start to visualise it.</p>
<div class="figure" style="text-align: center"><span id="fig:plt-oil-reserves-world"></span>
<img src="/post/2018-05-22-bp-annual-survey-importing-and-cleaning-of-the-data_files/figure-html/plt-oil-reserves-world-1.png" alt="Oil reserves of the world." width="95%" />
<p class="caption">
Figure 1: Oil reserves of the world.
</p>
</div>
<p>Figure <a href="#fig:plt-oil-reserves-world">1</a> shows where the countries are that are currently covered in the BP results, and the colour indicates the amount of reserves, i.e. brighter colours represent more reserves. Note the bright colours, which means that some countries are really fortunate, and have access to vast amounts of resources, while others, do not have these, and are reliant on these oil producing countries.</p>
<div class="figure" style="text-align: center"><span id="fig:plt-total-region"></span>
<img src="/post/2018-05-22-bp-annual-survey-importing-and-cleaning-of-the-data_files/figure-html/plt-total-region-1.png" alt="Proved oil reserves per region, since 1980." width="95%" />
<p class="caption">
Figure 2: Proved oil reserves per region, since 1980.
</p>
</div>
<p>Figure <a href="#fig:plt-total-region">2</a> indicate the growth in the total proved oil reserves since 1980. Some regions, i.e. Oceania, have a low amount of reserves, and it is difficult to see on the graph. It is interesting to see the ‘jumps’ in the data, suggesting that at some point more oil reserves have become accessible. This could be due to better exploration, or getting more from the sources, as the experience goes up and overall costs comes down. Now, it is clear that there are a finite amount of these fossil fuels, and that at some stage we will be depleting these reserves. There are been a levelling off in the last few years, indicating that the oil being extracted and the oil being found are about the same. It will be interesting to observe this trend over the next few years, to see how responsible we are in utilising these resources.</p>
<p>There we have a good overview of the proved world oil reserves. The next steps can include a comparison between the proved oil reserves and the proved gas reserves (‘Proved Natural Gas Reserves’), and this will be repeat of the above, only substituting the filtering for ‘Proved Natural Gas Reserves’, since this will be the codes for the gas reserves.</p>
