---
title: US Patents - Getting and First Analysis
author: Hardi Koortzen
date: '2018-04-30'
slug: us-patents-getting-and-first-analysis
categories:
  - R
tags:
  - patents
  - patentsview
  - R
  - rvest
  - text mining
  - tidyverse
subtitle: ''
---



<p>Patents are important, just search for Apple and Samsung. Patents help to protect one’s interest in a foreign country. These are not fool proof and some can be circumvented. In the Petrochemical industry, it is the norm to patent rather than to publish. This gives the assignee the freedom to use the technology freely and without cost. I am no expert on patents and patent law, so let me not get too caught up in trying to explain the benefits.</p>
<p>During a patents’ lifetime, the assignee company needs to maintain this, with costs yearly, as well as cost for the initial application. Patents, therefore, are not cheap to apply for and maintain. This all depends where one applies, and how many territories this application is for, which all add costs, during the initial application and over the patents lifetime. Since this is paid for by the assignee, one might expect that it is easy to find information on patents. Who owns them? How many they own? What processes they cover? Unfortunately, it is not that easy, and sometimes one can be charged for such access. There are a few places to look for patents, such as <a href="http://www.freepatentsonline.com/">freepatentsonline</a>, <a href="https://worldwide.espacenet.com/">espacenet</a>, <a href="https://patents.google.com/">google patents</a>, <a href="https://www.uspto.gov/">uspto</a>, to name a few. Getting useful information on a particular processes or keyword, from these sites is not easy, and they does not allow easy interaction with their data. One difference is <a href="http://www.patentsview.org/web/#viz/locations">patentsview</a>, which allows one to interact with their API.</p>
<p>These API calls are not easy to set-up, or at least for me it is not, but fortunately, someone already made an <code>R</code> package for this. The package <code>patentsview</code> give one access to this. See the details <a href="https://cran.r-project.org/web/packages/patentsview/index.html">here</a>. Let’s see how this works first, and also save this to disk. The API is not updated monthly, thus this will be sufficient until their next update.</p>
<pre class="r"><code>library(&quot;patentsview&quot;)
library(&quot;tidyverse&quot;)

search_pv(
  query = with_qfuns(
    or(
      text_all(patent_abstract    = &quot;catalytic combustion&quot;),
      text_all(patent_abstract    = &quot;methane combustion&quot;),
      text_all(patent_abstract    = &quot;methane reforming&quot;),
      text_all(patent_abstract    = &quot;steam reforming&quot;),
      text_all(patent_title       = &quot;catalytic combustion&quot;),
      text_all(patent_title       = &quot;methane combustion&quot;),
      text_all(patent_title       = &quot;methane reforming&quot;),
      text_all(patent_title       = &quot;steam reforming&quot;),
      text_any(patent_abstract    = &quot;fischer-tropsch&quot;),
      text_any(patent_title       = &quot;fischer-tropsch&quot;),
      text_phrase(patent_abstract = &quot;coal-to-liquid&quot;),
      text_phrase(patent_abstract = &quot;coal-to-liquids&quot;),
      text_phrase(patent_abstract = &quot;gas-to-liquid&quot;),
      text_phrase(patent_abstract = &quot;gas-to-liquids&quot;),
      text_phrase(patent_title    = &quot;coal-to-liquid&quot;),
      text_phrase(patent_title    = &quot;coal-to-liquids&quot;),
      text_phrase(patent_title    = &quot;gas-to-liquid&quot;),
      text_phrase(patent_title    = &quot;gas-to-liquids&quot;)
    )
  ),
  endpoint = &quot;patents&quot;,
  fields = c(
    &quot;assignee_last_name&quot;,
    &quot;assignee_lastknown_country&quot;,
    &quot;assignee_organization&quot;,
    &quot;assignee_total_num_patents&quot;,
    &quot;assignee_type&quot;,
    &quot;cpc_group_id&quot;,
    &quot;cpc_section_id&quot;,
    &quot;cpc_subgroup_id&quot;,
    &quot;cpc_subsection_id&quot;,
    &quot;inventor_first_name&quot;,
    &quot;inventor_last_name&quot;,
    &quot;inventor_lastknown_country&quot;,
    &quot;inventor_total_num_patents&quot;,
    &quot;patent_abstract&quot;,
    &quot;patent_date&quot;,
    &quot;patent_num_cited_by_us_patents&quot;,
    &quot;patent_number&quot;,
    &quot;patent_title&quot;,
    &quot;patent_year&quot;
  ),
  all_pages = TRUE
  ) %&gt;%
  write_rds(., here::here(&quot;static/data/patents_search.rds&quot;), &quot;xz&quot;)</code></pre>
<p>The <code>search_pv()</code> function create the API call based on the added query. Here I have searched for specific keywords, such as Fischer–Tropsch, steam reforming, etc. One can search for a specific patent, inventor, company. The <code>fields</code> argument, allows one to limit the size of the final data, by specifying which fields should be included. These will not be the only ones, as the API needs some other fields to bind these. These fields are user specific and can be adapted to fit the user’s needs. Here, I have included more fields, since with the one call, I can get more information, which may or may not be used later. At least the data will be there for future needs, and there will be no need to call this function. The vignettes on the <code>patentsview</code> package is extensive, and there is no need to restate things here, and the reader is highly encourage to read that to understand more.</p>
<p>I have also made use of the <code>here</code> package, which is very helpful when working with files. For more information on this package, read all about it <a href="https://cran.r-project.org/web/packages/here/index.html">here</a>. In order for the data to be available for the blog rendering, it needs to be in the <code>static/</code> folder. Here I have added a new folder <code>data/</code> containing all the data files, using the <code>here</code> package assisting us in making this reproducible.</p>
<p>Let’s have a look at what we have now, however, since we have saved the data to disk, we first need to read it.</p>
<pre><code>## List of 3
##  $ data         :List of 1
##   ..$ patents:&#39;data.frame&#39;:  5481 obs. of  9 variables:
##   .. ..$ patent_abstract               : chr [1:5481] &quot;A device for preheating gases of waste lines, particularly for the catalytic purification of exhaust gases comp&quot;| __truncated__ &quot;The present invention relates to a method of manufacturing a gas rich in methane by subjecting two varieties or&quot;| __truncated__ &quot;The contact heating of boiler feed water for steam heating systems is effected by mixing recirculated boiler st&quot;| __truncated__ &quot;A manifold for an internal combustion engine to serve also as an exhaust gas depollution reactor. An ante-chamb&quot;| __truncated__ ...
##   .. ..$ patent_date                   : chr [1:5481] &quot;1976-01-06&quot; &quot;1976-01-13&quot; &quot;1976-01-27&quot; &quot;1976-02-03&quot; ...
##   .. ..$ patent_num_cited_by_us_patents: chr [1:5481] &quot;1&quot; &quot;5&quot; &quot;7&quot; &quot;13&quot; ...
##   .. ..$ patent_number                 : chr [1:5481] &quot;3930789&quot; &quot;3932147&quot; &quot;3934799&quot; &quot;3935705&quot; ...
##   .. ..$ patent_title                  : chr [1:5481] &quot;Device for preheating waste gases of an exhaust conduit&quot; &quot;Method of reforming hydrocarbons&quot; &quot;High-capacity steam heating system&quot; &quot;Exhaust manifold for an internal combustion engine&quot; ...
##   .. ..$ patent_year                   : chr [1:5481] &quot;1976&quot; &quot;1976&quot; &quot;1976&quot; &quot;1976&quot; ...
##   .. ..$ inventors                     :List of 5481
##   .. ..$ assignees                     :List of 5481
##   .. ..$ cpcs                          :List of 5481
##   ..- attr(*, &quot;class&quot;)= chr [1:2] &quot;list&quot; &quot;pv_data_result&quot;
##  $ query_results:List of 1
##   ..$ total_patent_count: int 5481
##   ..- attr(*, &quot;class&quot;)= chr [1:2] &quot;list&quot; &quot;pv_query_result&quot;
##  $ request      :List of 2
##   ..$ method: chr &quot;GET&quot;
##   ..$ url   : chr &quot;http://www.patentsview.org/api/patents/query?q=%7B%22_or%22:[%7B%22_text_all%22:%7B%22patent_abstract%22:%22cat&quot;| __truncated__
##   ..- attr(*, &quot;class&quot;)= chr [1:2] &quot;list&quot; &quot;pv_request&quot;
##  - attr(*, &quot;class&quot;)= chr [1:2] &quot;list&quot; &quot;pv_result&quot;</code></pre>
<p>As seen, this contains the <code>patents</code> data frame under the <code>data</code> label. This data frame also contains a list of <code>inventors</code>, <code>assignees</code> and <code>cpcs</code> data, since there are rarely just one inventor, or CPC group. This nested data frame makes it possible to work with parts of this as a whole. One can also see that the <code>patent_year</code> and <code>patent_date</code> are characters, which is not the best type, and thus we can use <code>cast_pv_data()</code>, to convert these to their preferred type. The <code>cast_pv_data()</code> function also returns a list, and to obtain the data frame, the function <code>%$%</code> from the <code>magrittr</code> package was used.</p>
<pre class="r"><code>library(&quot;magrittr&quot;)

read_rds(here::here(&quot;static/data/patents_search.rds&quot;)) %$%
  data %&gt;%
  cast_pv_data() %$%
  patents %&gt;%
  as_tibble(.) -&gt;
  patents_all</code></pre>
<pre><code>## Observations: 5,481
## Variables: 9
## $ patent_abstract                &lt;chr&gt; &quot;A device for preheating gases ...
## $ patent_date                    &lt;date&gt; 1976-01-06, 1976-01-13, 1976-0...
## $ patent_num_cited_by_us_patents &lt;int&gt; 1, 5, 7, 13, 9, 27, 109, 27, 8,...
## $ patent_number                  &lt;chr&gt; &quot;3930789&quot;, &quot;3932147&quot;, &quot;3934799&quot;...
## $ patent_title                   &lt;chr&gt; &quot;Device for preheating waste ga...
## $ patent_year                    &lt;int&gt; 1976, 1976, 1976, 1976, 1976, 1...
## $ inventors                      &lt;list&gt; [&lt;c(&quot;Kenner&quot;, &quot;Hans&quot;), c(&quot;Eric...
## $ assignees                      &lt;list&gt; [&lt;NA, NA, NA, NA, NA, NA&gt;, &lt;NA...
## $ cpcs                           &lt;list&gt; [&lt;c(&quot;F01N&quot;, &quot;F01N&quot;, &quot;F01N&quot;, &quot;Y...</code></pre>
<p>The unnesting can be achieved with <code>unnest()</code> from the <code>tidyr</code> package. Once used, the data cannot be reverted to this, i.e. where <code>inventors</code>, <code>assignees</code> and <code>cpcs</code> are lists, since the grouping function does not take a <code>list</code> as an argument. The <code>unnest()</code> function will remove columns that is not required, unless the <code>.drop = FALSE</code> argument is used. In that case, all the original columns will be maintained. This is essential, especially during the first two <code>unnest()</code> calls. The reasoning behind this will become clearer later, and the ‘duplicated’ patent numbers will be nested before analysis begins.</p>
<pre class="r"><code>patents_all %&lt;&gt;%
  unnest(., assignees, .drop = FALSE) %&gt;%
  unnest(., inventors, .drop = FALSE) %&gt;%
  unnest(., cpcs)</code></pre>
<pre><code>## Observations: 201,260
## Variables: 21
## $ patent_abstract                &lt;chr&gt; &quot;A device for preheating gases ...
## $ patent_date                    &lt;date&gt; 1976-01-06, 1976-01-06, 1976-0...
## $ patent_num_cited_by_us_patents &lt;int&gt; 1, 1, 1, 1, 1, 1, 1, 1, 5, 5, 5...
## $ patent_number                  &lt;chr&gt; &quot;3930789&quot;, &quot;3930789&quot;, &quot;3930789&quot;...
## $ patent_title                   &lt;chr&gt; &quot;Device for preheating waste ga...
## $ patent_year                    &lt;int&gt; 1976, 1976, 1976, 1976, 1976, 1...
## $ assignee_last_name             &lt;chr&gt; NA, NA, NA, NA, NA, NA, NA, NA,...
## $ assignee_lastknown_country     &lt;chr&gt; NA, NA, NA, NA, NA, NA, NA, NA,...
## $ assignee_organization          &lt;chr&gt; NA, NA, NA, NA, NA, NA, NA, NA,...
## $ assignee_total_num_patents     &lt;int&gt; NA, NA, NA, NA, NA, NA, NA, NA,...
## $ assignee_type                  &lt;chr&gt; NA, NA, NA, NA, NA, NA, NA, NA,...
## $ assignee_key_id                &lt;chr&gt; NA, NA, NA, NA, NA, NA, NA, NA,...
## $ inventor_first_name            &lt;chr&gt; &quot;Kenner&quot;, &quot;Kenner&quot;, &quot;Kenner&quot;, &quot;...
## $ inventor_last_name             &lt;chr&gt; &quot;Erich&quot;, &quot;Erich&quot;, &quot;Erich&quot;, &quot;Eri...
## $ inventor_lastknown_country     &lt;chr&gt; &quot;DE&quot;, &quot;DE&quot;, &quot;DE&quot;, &quot;DE&quot;, &quot;DE&quot;, &quot;...
## $ inventor_total_num_patents     &lt;int&gt; 1, 1, 1, 1, 3, 3, 3, 3, 6, 1, 5...
## $ inventor_key_id                &lt;chr&gt; &quot;754&quot;, &quot;754&quot;, &quot;754&quot;, &quot;754&quot;, &quot;75...
## $ cpc_group_id                   &lt;chr&gt; &quot;F01N&quot;, &quot;F01N&quot;, &quot;F01N&quot;, &quot;Y02T&quot;,...
## $ cpc_section_id                 &lt;chr&gt; &quot;F&quot;, &quot;F&quot;, &quot;F&quot;, &quot;Y&quot;, &quot;F&quot;, &quot;F&quot;, &quot;...
## $ cpc_subgroup_id                &lt;chr&gt; &quot;F01N3/306&quot;, &quot;F01N3/22&quot;, &quot;F01N3...
## $ cpc_subsection_id              &lt;chr&gt; &quot;F01&quot;, &quot;F01&quot;, &quot;F01&quot;, &quot;Y02&quot;, &quot;F0...</code></pre>
<p>This results in quite a large dataset, containing 201260 rows and 21 columns. We will clean this dataset and remove some unneeded columns as well. Since assignees can be an organisation, or an individual, and sometimes only inventors are listed, it is necessary to combine all of these into one column, this is true for their locations as well.</p>
<pre class="r"><code>patents_all %&lt;&gt;%
  mutate(., assignee_name = if_else(
    !is.na(assignee_organization),
    assignee_organization,
    if_else(
      !is.na(assignee_last_name),
      assignee_last_name,
      inventor_last_name
    )
  )) %&gt;%
  mutate(
    .,
    assignee_country = if_else(
      !is.na(assignee_lastknown_country),
      assignee_lastknown_country,
      inventor_lastknown_country
    )
  ) %&gt;%
  mutate(
    .,
    assignee_total_num_patents = if_else(
      !is.na(assignee_total_num_patents),
      assignee_total_num_patents,
      inventor_total_num_patents
    )
  ) %&gt;%
  select(
    .,
    patent_abstract:patent_year,
    assignee_country,
    assignee_name,
    assignee_total_num_patents,
    inventor_first_name,
    inventor_last_name,
    inventor_total_num_patents,
    cpc_section_id,
    cpc_subsection_id,
    cpc_group_id,
    cpc_subgroup_id
  )</code></pre>
<pre><code>## Observations: 201,260
## Variables: 16
## $ patent_abstract                &lt;chr&gt; &quot;A device for preheating gases ...
## $ patent_date                    &lt;date&gt; 1976-01-06, 1976-01-06, 1976-0...
## $ patent_num_cited_by_us_patents &lt;int&gt; 1, 1, 1, 1, 1, 1, 1, 1, 5, 5, 5...
## $ patent_number                  &lt;chr&gt; &quot;3930789&quot;, &quot;3930789&quot;, &quot;3930789&quot;...
## $ patent_title                   &lt;chr&gt; &quot;Device for preheating waste ga...
## $ patent_year                    &lt;int&gt; 1976, 1976, 1976, 1976, 1976, 1...
## $ assignee_country               &lt;chr&gt; &quot;DE&quot;, &quot;DE&quot;, &quot;DE&quot;, &quot;DE&quot;, &quot;DE&quot;, &quot;...
## $ assignee_name                  &lt;chr&gt; &quot;Erich&quot;, &quot;Erich&quot;, &quot;Erich&quot;, &quot;Eri...
## $ assignee_total_num_patents     &lt;int&gt; 1, 1, 1, 1, 3, 3, 3, 3, 13, 13,...
## $ inventor_first_name            &lt;chr&gt; &quot;Kenner&quot;, &quot;Kenner&quot;, &quot;Kenner&quot;, &quot;...
## $ inventor_last_name             &lt;chr&gt; &quot;Erich&quot;, &quot;Erich&quot;, &quot;Erich&quot;, &quot;Eri...
## $ inventor_total_num_patents     &lt;int&gt; 1, 1, 1, 1, 3, 3, 3, 3, 6, 1, 5...
## $ cpc_section_id                 &lt;chr&gt; &quot;F&quot;, &quot;F&quot;, &quot;F&quot;, &quot;Y&quot;, &quot;F&quot;, &quot;F&quot;, &quot;...
## $ cpc_subsection_id              &lt;chr&gt; &quot;F01&quot;, &quot;F01&quot;, &quot;F01&quot;, &quot;Y02&quot;, &quot;F0...
## $ cpc_group_id                   &lt;chr&gt; &quot;F01N&quot;, &quot;F01N&quot;, &quot;F01N&quot;, &quot;Y02T&quot;,...
## $ cpc_subgroup_id                &lt;chr&gt; &quot;F01N3/306&quot;, &quot;F01N3/22&quot;, &quot;F01N3...</code></pre>
<p>Now we have a cleaner dataset and can start to further improve it. Next, we can changed the <code>assignee_country</code> from the abbreviated designation to a proper country, which will help in plotting these on maps. Now, as a lazy person, there is no way I am going to write <code>if_else()</code>’s for all those abbreviations. Fortunately, the internet already have a table linking the abbreviation to a country name, see <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">here</a>. Getting this into <code>R</code> can be achieved via the <code>rvest</code> package. One need to get the <code>xpath</code> from the html webpage. I am no <code>html</code> expert, thus cannot give too much guidance here. The following steps will get you there, at least when you use Chrome and Windows:</p>
<ol style="list-style-type: decimal">
<li>Open the <em>Developer Tools</em> in Chrome using <code>Ctrl + Shift + I</code></li>
<li>Scroll to the table you are interested in</li>
<li>Right click any cell in the table and select <em>Inspect</em></li>
<li>In the Developer Window, the line will be highlighted. Hover your mouse over the line and move up or down until the whole table is highlighted</li>
<li>Right click the line <em>Copy</em> -&gt; <em>Copy XPath</em></li>
<li>Paste this in the <code>xpath</code> of the <code>html_nodes()</code> function.</li>
</ol>
<p>For the advance <code>html</code> users, there are probably easier ways, but this is something that I can remember. Some of the countries on the Wikipedia page have a different name in the <code>map_data()</code> function, thus these are changed here. This was done with trial and error, and is probably not exhaustive, but is sufficient for this patent dataset. Also see <a href="http://www.win-vector.com/blog/2017/09/my-advice-on-dplyrmutate/">here</a> the reason for the multiple <code>mutate()</code> calls.</p>
<pre class="r"><code>library(&quot;rvest&quot;)

read_html(&quot;https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2&quot;) %&gt;%
  html_nodes(., xpath = &#39;//*[@id=&quot;mw-content-text&quot;]/div/table[3]&#39;) %&gt;%
  html_table(.) %&gt;%
  tibble(.) %&gt;%
  unnest(.) %&gt;%
  select(., assignee_country = Code, region = `Country name`) %&gt;%
  mutate(., region = str_replace(region, &quot;Curaçao&quot;, &quot;Curacao&quot;)) %&gt;%
  mutate(., region = str_replace(region, &quot;Czechia&quot;, &quot;Czech Republic&quot;)) %&gt;%
  mutate(., region = str_replace(region, &quot;Iran, Islamic Republic of&quot;, &quot;Iran&quot;)) %&gt;%
  mutate(., region = str_replace(region, &quot;Korea, Republic of&quot;, &quot;South Korea&quot;)) %&gt;%
  mutate(., region = str_replace(region, &quot;Russian Federation&quot;, &quot;Russia&quot;)) %&gt;%
  mutate(., region = str_replace(region, &quot;Taiwan, Province of China&quot;, &quot;Taiwan&quot;)) %&gt;%
  mutate(.,
         region = str_replace(
           region,
           &quot;United Kingdom of Great Britain and Northern Ireland&quot;,
           &quot;UK&quot;
         )) %&gt;%
  mutate(., region = str_replace(region, &quot;United States of America&quot;, &quot;USA&quot;)) %&gt;%
  mutate(.,
         region = str_replace(region, &quot;Venezuela, Bolivarian Republic of&quot;, &quot;Venezuela&quot;)) %&gt;%
  mutate(., region = str_replace(region, &quot;Virgin Islands, British&quot;, &quot;Virgin Islands&quot;)) %T&gt;%
  write_rds(., here::here(&quot;static/data/country_codes.rds&quot;), &quot;xz&quot;) -&gt;
  country_codes</code></pre>
<pre><code>## Observations: 249
## Variables: 2
## $ assignee_country &lt;chr&gt; &quot;AD&quot;, &quot;AE&quot;, &quot;AF&quot;, &quot;AG&quot;, &quot;AI&quot;, &quot;AL&quot;, &quot;AM&quot;, &quot;AO...
## $ region           &lt;chr&gt; &quot;Andorra&quot;, &quot;United Arab Emirates&quot;, &quot;Afghanist...</code></pre>
<p>Now we can get rid of those pesky abbreviations for the country. The way is to use the <code>left_join()</code> function, however, other ways exists. The <code>left_join()</code> functions joins two data frames, using a primary key, similar to databases, keeping all the rows from the left side. Here the primary key will be <code>assignee_country</code> column, for getting the <code>region</code> from the <code>country_codes</code> data frame.</p>
<pre class="r"><code>patents_all %&lt;&gt;%
  left_join(., country_codes, by = &quot;assignee_country&quot;) %&gt;%
  select(.,
         patent_abstract:patent_year,
         region,
         assignee_name:cpc_subgroup_id)</code></pre>
<pre><code>## Observations: 201,260
## Variables: 16
## $ patent_abstract                &lt;chr&gt; &quot;A device for preheating gases ...
## $ patent_date                    &lt;date&gt; 1976-01-06, 1976-01-06, 1976-0...
## $ patent_num_cited_by_us_patents &lt;int&gt; 1, 1, 1, 1, 1, 1, 1, 1, 5, 5, 5...
## $ patent_number                  &lt;chr&gt; &quot;3930789&quot;, &quot;3930789&quot;, &quot;3930789&quot;...
## $ patent_title                   &lt;chr&gt; &quot;Device for preheating waste ga...
## $ patent_year                    &lt;int&gt; 1976, 1976, 1976, 1976, 1976, 1...
## $ region                         &lt;chr&gt; &quot;Germany&quot;, &quot;Germany&quot;, &quot;Germany&quot;...
## $ assignee_name                  &lt;chr&gt; &quot;Erich&quot;, &quot;Erich&quot;, &quot;Erich&quot;, &quot;Eri...
## $ assignee_total_num_patents     &lt;int&gt; 1, 1, 1, 1, 3, 3, 3, 3, 13, 13,...
## $ inventor_first_name            &lt;chr&gt; &quot;Kenner&quot;, &quot;Kenner&quot;, &quot;Kenner&quot;, &quot;...
## $ inventor_last_name             &lt;chr&gt; &quot;Erich&quot;, &quot;Erich&quot;, &quot;Erich&quot;, &quot;Eri...
## $ inventor_total_num_patents     &lt;int&gt; 1, 1, 1, 1, 3, 3, 3, 3, 6, 1, 5...
## $ cpc_section_id                 &lt;chr&gt; &quot;F&quot;, &quot;F&quot;, &quot;F&quot;, &quot;Y&quot;, &quot;F&quot;, &quot;F&quot;, &quot;...
## $ cpc_subsection_id              &lt;chr&gt; &quot;F01&quot;, &quot;F01&quot;, &quot;F01&quot;, &quot;Y02&quot;, &quot;F0...
## $ cpc_group_id                   &lt;chr&gt; &quot;F01N&quot;, &quot;F01N&quot;, &quot;F01N&quot;, &quot;Y02T&quot;,...
## $ cpc_subgroup_id                &lt;chr&gt; &quot;F01N3/306&quot;, &quot;F01N3/22&quot;, &quot;F01N3...</code></pre>
<p>To further enhance the visualisation, we can create a variable named <code>process</code>, this assign one of FT, Combustion, Reforming or Other, to the dataset. This is a long nested <code>if_else()</code> statement, and things can quickly get out of hand, thus it took some time to refine. It looks for certain phrases in the <code>patent_abstact</code> and <code>patent_title</code> column, and then linked this to the <code>process</code>. The reader should not worry too much here, as some of the phrases will just be known to those in the Petrochemical industry.</p>
<pre class="r"><code>patents_all %&lt;&gt;%
  mutate(., process = if_else((
    str_detect(patent_title, fixed(&quot;Fischer-Tropsch&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;Fischer-Tropsch&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;FT&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;FT&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;gas to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;gas to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;gas-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;gas-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;coal to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;coal to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;coal-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;coal-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;gtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;gtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;xtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;xtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;ctl&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;ctl&quot;, ignore_case = TRUE))
  ) &amp;
    (
      str_detect(patent_title, fixed(&quot;reforming&quot;, ignore_case = TRUE)) |
        str_detect(patent_abstract, fixed(&quot;reforming&quot;, ignore_case = TRUE))
    ) &amp;
    (
      str_detect(patent_title, fixed(&quot;combustion&quot;, ignore_case = TRUE)) |
        str_detect(patent_abstract, fixed(&quot;combustion&quot;, ignore_case = TRUE))
    ),
  &quot;All&quot;,
  if_else((
    str_detect(patent_title, fixed(&quot;Fischer-Tropsch&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;Fischer-Tropsch&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;FT&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;FT&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;gas to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;gas to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;gas-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;gas-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;coal to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;coal to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;coal-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;coal-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;gtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;gtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;xtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;xtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;ctl&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;ctl&quot;, ignore_case = TRUE))
  ) &amp;
    (
      str_detect(patent_title, fixed(&quot;reforming&quot;, ignore_case = TRUE)) |
        str_detect(patent_abstract, fixed(&quot;reforming&quot;, ignore_case = TRUE))
    ),
  &quot;Ref &amp; FT&quot;,
  if_else((
    str_detect(patent_title, fixed(&quot;Fischer-Tropsch&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;Fischer-Tropsch&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;FT&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;FT&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;gas to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;gas to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;gas-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;gas-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;coal to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;coal to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;coal-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;coal-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;gtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;gtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;xtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;xtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;ctl&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;ctl&quot;, ignore_case = TRUE))
  ) &amp;
    (
      str_detect(patent_title, fixed(&quot;combustion&quot;, ignore_case = TRUE)) |
        str_detect(patent_abstract, fixed(&quot;combustion&quot;, ignore_case = TRUE))
    ),
  &quot;Comb &amp; FT&quot;,
  if_else((
    str_detect(patent_title, fixed(&quot;reforming&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;reforming&quot;, ignore_case = TRUE))
  ) &amp;
    (
      str_detect(patent_title, fixed(&quot;combustion&quot;, ignore_case = TRUE)) |
        str_detect(patent_abstract, fixed(&quot;combustion&quot;, ignore_case = TRUE))
    ),
  &quot;Ref &amp; Comb&quot;,
  if_else(
    str_detect(patent_title, fixed(&quot;Fischer-Tropsch&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;Fischer-Tropsch&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;FT&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;FT&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;gas to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;gas to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;gas-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;gas-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;coal to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;coal to liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;coal-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;coal-to-liquid&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;gtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;gtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;xtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;xtl&quot;, ignore_case = TRUE)) |
      str_detect(patent_title, fixed(&quot;ctl&quot;, ignore_case = TRUE)) |
      str_detect(patent_abstract, fixed(&quot;ctl&quot;, ignore_case = TRUE)),
    &quot;FT&quot;,
    if_else(
      str_detect(patent_title, fixed(&quot;reforming&quot;, ignore_case = TRUE)) |
        str_detect(patent_abstract, fixed(&quot;reforming&quot;, ignore_case = TRUE)),
      &quot;Ref&quot;,
      if_else(
        str_detect(patent_title, fixed(&quot;combustion&quot;, ignore_case = TRUE)) |
          str_detect(patent_abstract, fixed(&quot;combustion&quot;, ignore_case = TRUE)),
        &quot;Comb&quot;,
        &quot;Other&quot;
      )
    )
  )
  )
  )
  )
  )) %&gt;%
  replace_na(., list(process = &quot;Other&quot;)) %&gt;%
  mutate(., process = factor(
    process,
    levels = c(
      &quot;All&quot;,
      &quot;Comb&quot;,
      &quot;Comb &amp; FT&quot;,
      &quot;Ref&quot;,
      &quot;Ref &amp; Comb&quot;,
      &quot;Ref &amp; FT&quot;,
      &quot;FT&quot;,
      &quot;Other&quot;
    )
  )) %&gt;%
  ungroup(.) %T&gt;%
  write_rds(., here::here(&quot;static/data/patents_all.rds&quot;), &quot;xz&quot;)</code></pre>
<pre><code>## Observations: 201,260
## Variables: 17
## $ patent_abstract                &lt;chr&gt; &quot;A device for preheating gases ...
## $ patent_date                    &lt;date&gt; 1976-01-06, 1976-01-06, 1976-0...
## $ patent_num_cited_by_us_patents &lt;int&gt; 1, 1, 1, 1, 1, 1, 1, 1, 5, 5, 5...
## $ patent_number                  &lt;chr&gt; &quot;3930789&quot;, &quot;3930789&quot;, &quot;3930789&quot;...
## $ patent_title                   &lt;chr&gt; &quot;Device for preheating waste ga...
## $ patent_year                    &lt;int&gt; 1976, 1976, 1976, 1976, 1976, 1...
## $ region                         &lt;chr&gt; &quot;Germany&quot;, &quot;Germany&quot;, &quot;Germany&quot;...
## $ assignee_name                  &lt;chr&gt; &quot;Erich&quot;, &quot;Erich&quot;, &quot;Erich&quot;, &quot;Eri...
## $ assignee_total_num_patents     &lt;int&gt; 1, 1, 1, 1, 3, 3, 3, 3, 13, 13,...
## $ inventor_first_name            &lt;chr&gt; &quot;Kenner&quot;, &quot;Kenner&quot;, &quot;Kenner&quot;, &quot;...
## $ inventor_last_name             &lt;chr&gt; &quot;Erich&quot;, &quot;Erich&quot;, &quot;Erich&quot;, &quot;Eri...
## $ inventor_total_num_patents     &lt;int&gt; 1, 1, 1, 1, 3, 3, 3, 3, 6, 1, 5...
## $ cpc_section_id                 &lt;chr&gt; &quot;F&quot;, &quot;F&quot;, &quot;F&quot;, &quot;Y&quot;, &quot;F&quot;, &quot;F&quot;, &quot;...
## $ cpc_subsection_id              &lt;chr&gt; &quot;F01&quot;, &quot;F01&quot;, &quot;F01&quot;, &quot;Y02&quot;, &quot;F0...
## $ cpc_group_id                   &lt;chr&gt; &quot;F01N&quot;, &quot;F01N&quot;, &quot;F01N&quot;, &quot;Y02T&quot;,...
## $ cpc_subgroup_id                &lt;chr&gt; &quot;F01N3/306&quot;, &quot;F01N3/22&quot;, &quot;F01N3...
## $ process                        &lt;fct&gt; Comb, Comb, Comb, Comb, Comb, C...</code></pre>
<p>I must admit, that is not the best looking <code>if_else()</code> code, however, this is useful in assigning the patents to the various labels. I wanted to separate those patents that contain all the terms from the rest, and also to keep those that only refer to one process. Now we are ready to work with the data. First, a look at the number of patents per year.</p>
<pre class="r"><code>patents_all %&gt;%
  group_by(., patent_number, patent_year, process) %&gt;%
  nest(.) %&gt;%
  ungroup(.)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:plt-count-patents"></span>
<img src="/post/2018-04-30-us-patents-getting-and-first-analysis_files/figure-html/plt-count-patents-1.png" alt="Total Count of US Patents per Year." width="95%" />
<p class="caption">
Figure 1: Total Count of US Patents per Year.
</p>
</div>
<p>This gives a great overview of the amount of patents granted since 1976. It seems that more companies are applying for patents, and ensuring that their IP in the Petrochemical industry are protected. For those who follow the oil price, you can hopefully still remember the fall of the price in 2008, and this is also reflected in a reduction in the amount of granted patents. Petrochemical companies usually consolidate after such a big change in oil price. Although the oil price is still low, more granted patents are also observed. The resilience of Petrochemical companies is such, that they manage to get back, we all still need fuel for transportation and heating our homes. There seems to have been another decline in the last few years, and this is also due to another reduction. It is also possible that the API have not yet been updated to include all the granted patents, as some might be under litigation, and the granted date will be back dated. More Fischer-Tropsch type patents have been granted than combustion and reforming, indicating that this field is still not mature, although being known since the 1940’s.</p>
<p>Since these are only US patents, we can still get a sense of where the assignees originated from. That is also the reason we changed the abbreviated country codes to names. Let us see where these assignees originate from.</p>
<pre class="r"><code>patents_all %&gt;%
  group_by(., patent_number, region) %&gt;%
  nest(.) %&gt;%
  group_by(., region) %&gt;%
  count(.) %&gt;%
  left_join(., map_data(&quot;world&quot;), by = &quot;region&quot;)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:plt-assignees-origin"></span>
<img src="/post/2018-04-30-us-patents-getting-and-first-analysis_files/figure-html/plt-assignees-origin-1.png" alt="Assignees countries of origin. Brighter colours indicates more patents." width="95%" />
<p class="caption">
Figure 2: Assignees countries of origin. Brighter colours indicates more patents.
</p>
</div>
<p>A few notes on the code for the graph. I was <a href="https://sastoudt.github.io/blog/2018/04/23/adventures-in-tidyverse-ggplot2-part-1">inspired</a> to use a <code>projection</code>, however, I quickly experienced some issues with the rendering of the plot, and found a solution <a href="https://stackoverflow.com/questions/23652711/why-does-coord-map-produce-a-weird-output">here</a>. I didn’t like the grey areas, and wanted to outline the <a href="https://stackoverflow.com/questions/10305614/geom-map-borders-in-ggplot2">countries</a>. I wanted to indicate how many patents the assignee have. This was fairly easy, using <code>group_by()</code> and <code>count()</code>, from <code>dplyr</code>, however, the amount of US companies was too overwhelming, even for the excellent <code>viridis</code> colour package. I was not interested in the exact number, thus a log-transformed number was used. Log-transformation really works well with data spanning a few orders of magnitude. Now, the <code>viridis</code> package is really helpful in highlighting the different areas, with brighter colours indicating more granted patents from that country. This map is also helpful in getting a sense of where the companies originate that are active in this area. It also gives one an indication of where to apply for ones own patents, in order to be protected.</p>
<p>It is also interesting to look at assignees of the patents. Since we included this in original query, we can look at these. There are too many to plot in a single go, and in any case, we are not really interested in the assignees with only a few patents.</p>
<pre class="r"><code>patents_all %&gt;%
  # Some cleaning of names, not shown
  mutate(., assignee_name = word(assignee_name)) %&gt;%
  group_by(., patent_number, process, assignee_name) %&gt;%
  nest(.) %&gt;%
  group_by(., assignee_name, process) %&gt;%
  count(., (total &gt;= 50) %&gt;%
  mutate(., assignee_name = reorder(assignee_name, total))</code></pre>
<div class="figure" style="text-align: center"><span id="fig:plt-top-assignees"></span>
<img src="/post/2018-04-30-us-patents-getting-and-first-analysis_files/figure-html/plt-top-assignees-1.png" alt="Assignees with 50+ Patents." width="95%" />
<p class="caption">
Figure 3: Assignees with 50+ Patents.
</p>
</div>
<p>This took some understanding of the data, and the code reflects the complexity of this. I assume there are other ways, but I found this to be at least consistent. Since we are only interested in the assignees, the first step is to clean up the names of the assignees first. These contain spaces and other punctuations, as well as the fact that the same company can have multiple sub-divisions submitting patents, thus we can extract only the first word from the string using <code>word()</code> from <code>stringr</code>. Now we can nest all the columns that might cause duplication. Next, I am interested in the how many patents for each assignee and each process. The next part took some time to figure out, as I wanted to sort the assignees and show the processes they are patenting. Here we need to group by the assignees first and then use a <code>mutate()</code> call to add all the patents. The assignees with 50+ patents was then selected, and factors <code>reorder()</code>, with the one with the most at the top.</p>
<p>It is clear that the top companies are well known companies in the Petrochemical industry, and show the extent to which they are active in the field. It is also interesting to observe the split between the processes for these top companies. The first three, for instance, patent heavily in the Fischer–Tropsch area, and this is no surprise as the products of this is used for transportation. The motoring companies, such as Toyota, Honda, etc. are heavily invested in the combustion area, again, this reflects their main activities. We do not want our cars to pollute the planet, and combustion and reforming can be used to reduce the amount of pollutants from a car’s exhaust system.</p>
<p>Although these companies are the assignees for the patents, one require an inventor. These people are well known in the field and are respected. They are highly innovative, since granting of the patent requires that it should be novel.</p>
<pre class="r"><code>patents_all %&gt;%
  group_by(.,
           patent_number,
           process,
           inventor_last_name,
           inventor_first_name) %&gt;%
  nest(.) %&gt;%
  unite(., inventor, inventor_last_name, inventor_first_name, sep = &quot;, &quot;) %&gt;%
  group_by(., inventor, process) %&gt;%
  count(., sort = TRUE) %&gt;%
  group_by(., inventor) %&gt;%
  mutate(., total = sum(n)) %&gt;%
  ungroup(.) %&gt;%
  filter(., total &gt;= 20) %&gt;%
  mutate(., inventor = reorder(inventor, total))</code></pre>
<div class="figure" style="text-align: center"><span id="fig:plt-top-inventors"></span>
<img src="/post/2018-04-30-us-patents-getting-and-first-analysis_files/figure-html/plt-top-inventors-1.png" alt="Inventors with 20+ Patents." width="95%" />
<p class="caption">
Figure 4: Inventors with 20+ Patents.
</p>
</div>
<p>By now, the code should be fairly self explanatory, since we are recycling quite a bit here, just changing the grouping variables. A new function used, is <code>unite()</code>, and this combine two columns into one, and here it is used to combine the last names and first names of the inventors, just to further distinguish ambiguity.</p>
<p>Patent applications are classified in classification schemes on the basis of their technical content. During the API call, these were all the ones starting with ‘cpc’. Although I have seen these on patents, I am no expert on these, and just find this interesting to include and plot. It might give us more insight into the patents, or at least give us an indication of the most used classifier.</p>
<pre class="r"><code>patents_all %&gt;%
  group_by(., patent_number, cpc_subgroup_id, process) %&gt;%
  nest(.) %&gt;%
  group_by(., cpc_subgroup_id, process) %&gt;%
  count(., sort = TRUE) %&gt;%
  group_by(., cpc_subgroup_id) %&gt;%
  mutate(., total = sum(n)) %&gt;%
  ungroup(.) %&gt;%
  filter(., total &gt;= 200) %&gt;%
  mutate(., cpc_subgroup_id = reorder(cpc_subgroup_id, total))</code></pre>
<div class="figure" style="text-align: center"><span id="fig:plt-top-cpc"></span>
<img src="/post/2018-04-30-us-patents-getting-and-first-analysis_files/figure-html/plt-top-cpc-1.png" alt="CPC Group ID's with 200+ Patents." width="95%" />
<p class="caption">
Figure 5: CPC Group ID’s with 200+ Patents.
</p>
</div>
<p>A quick Google search on the top classifier leads to this <a href="https://worldwide.espacenet.com/classification?locale=en_EP#!/CPC=C01B2203/0233">page</a>. Thus, breaking this down, it is on Chemistry/Metallurgy (C), Inorganic Chemistry (C01), Non-metallic Elements (C01B), Integrated processes for the production of hydrogen or synthesis gas (C01B2203/00), Processes for making hydrogen or synthesis gas (C01B2203/02), containing a reforming step (C01B2203/0205), containing a catalytic reforming step (C01B2203/0227), and finally, the reforming step being a steam reforming step (C01B2203/0233). To summarise,</p>
<blockquote>
<p>Processes for making hydrogen or synthesis gas, containing a reforming step, containing a catalytic reforming step, the reforming step being a steam reforming step</p>
</blockquote>
<p>So this is a process patent, i.e. the whole process is describe. These process patents helps in securing how one operates the plant, and can be enforced by comparing one operation to another.</p>
<p>And now, I have kept you all long enough. More on this later.</p>
