---
title: Zotero database text mining
author: Hardi Koortzen
date: '2018-12-21'
categories:
  - R
tags:
  - R
  - Zotero
  - text mining
slug: zotero-database-text-mining
---



<p>I enjoy learning new things and applying these to my current work. The <a href="https://github.com/rfordatascience/tidytuesday">TidyTuesday</a> initiative that was created early in 2018, provides some datasets for learning, which it really good. I have recently seen screen casts from Dave Robinson on these datasets. This is a great opportunity to follow along and see what others are doing, while others are doing it. Now, I am still working my way through his screen casts, however, there was one which I found extremely helpful. This was the one where he <a href="https://www.youtube.com/watch?v=C69QyycHsgE">analysed</a> Medium articles. Now, granted, I do not really want to predict something on text, however, since I have quite a few articles, it would be interesting to see how these words relates to one another, and what words are the most common.</p>
<p>Since this is my private publications, I am unable to share this with all. After reading in all the articles from the <code>SQL</code> database into <code>R</code>, we can start with the processing. The following packages are needed for the analysis. One is my own, and contains a few functions that I often use, but these are not required for all the analyses.</p>
<pre class="r"><code>library(&quot;rforworkr&quot;)
library(&quot;tidyverse&quot;)
library(&quot;widyr&quot;)
library(&quot;ggraph&quot;)
library(&quot;igraph&quot;)</code></pre>
<p>I am only not interested in the attachments. After selecting the <code>title</code>, we can change some of the words in the titles for later. These include more general concepts, such as changing ‘carbon dioxide’ into CO2, and some others as well. In order to get all the words, we need to select the <code>title</code> (the source of the words), and the <code>item_id</code> (required later). Using the <code>tidytext</code> package, we obtain all the words (<code>unnest_tokens()</code>), in a tidy format. Since these are scientific articles, mostly, there will be some numbers as well, and thus we only keep words containing at least one letter, since we are interested in CO2, for instance. The next step took a bit of time, but these just convert some words to clump them together, since CH4 are equal to ‘methane’. Then we <em>stem</em> the words, to find the common stem, i.e. catalysts and catalyst, becomes catalyst, etc. Next we remove <em>stop words</em>, those words that usually refers to the most common words in a language, such as <em>the</em>, <em>is</em>, <em>at</em>, <em>which</em>, and <em>on</em>. The last steps are just to ensure there are no blanks and that the more words are combined.</p>
<pre class="r"><code>data_words &lt;- all_data %&gt;%
  filter(article_type != &quot;attachment&quot;) %&gt;%
  select(item_id, title) %&gt;%
  mutate(title = str_replace_all(title, fixed(&quot;carbon dioxide&quot;, ignore_case = TRUE), &quot;CO2&quot;)) %&gt;%
  mutate(title = str_replace_all(title, &quot; CO &quot;, &quot; carbon monoxide &quot;)) %&gt;%
  mutate(title = str_replace_all(
    title,
    fixed(&quot; FTS &quot;, ignore_case = TRUE),
    &quot;Fischer-Tropsch synthesis&quot;
  )) %&gt;%
  mutate(title = str_replace_all(title, fixed(&quot; FT &quot;, ignore_case = TRUE), &quot;Fischer-Tropsch&quot;)) %&gt;%
  mutate(title = str_replace_all(title, fixed(&quot; wgs &quot;, ignore_case = TRUE), &quot;water gas shift&quot;)) %&gt;%
  mutate(title = str_replace_all(title, fixed(&quot;methane&quot;, ignore_case = TRUE), &quot;CH4&quot;)) %&gt;%
  mutate(title = str_replace_all(title, fixed(&quot;silica&quot;, ignore_case = TRUE), &quot;SiO2&quot;)) %&gt;%
  mutate(title = str_replace_all(title, fixed(&quot;ceria&quot;, ignore_case = TRUE), &quot;CeO2&quot;)) %&gt;%
  mutate(title = str_replace_all(title, fixed(&quot;zirconia&quot;, ignore_case = TRUE), &quot;ZrO2&quot;)) %&gt;%
  mutate(title = str_replace_all(title, fixed(&quot;methanol&quot;, ignore_case = TRUE), &quot;CH3OH&quot;)) %&gt;%
  mutate(title = str_replace_all(title, fixed(&quot;ethanol&quot;, ignore_case = TRUE), &quot;C2H5OH&quot;)) %&gt;%
  mutate(title = str_replace_all(title, &quot;CoO&quot;, &quot;cobalt oxide&quot;)) %&gt;%
  mutate(title = str_replace_all(title, &quot;Co3O4&quot;, &quot;cobalt oxide&quot;)) %&gt;%
  mutate(title = str_replace_all(title, &quot;Co0&quot;, &quot;cobalt&quot;)) %&gt;%
  tidytext::unnest_tokens(word, title) %&gt;%
  mutate(word = str_trim(word)) %&gt;%
  filter(str_detect(word, &quot;[a-z]&quot;)) %&gt;%
  mutate(word = SnowballC::wordStem(word)) %&gt;%
  anti_join(tidytext::stop_words, by = &quot;word&quot;) %&gt;%
  mutate(word = str_trim(word)) %&gt;%
  filter(word != &quot;&quot;) %&gt;%
  mutate(
    word = case_when(
      str_detect(word, &quot;al2o3&quot;) ~ &quot;al2o3&quot;,
      word == &quot;alumina&quot;         ~ &quot;al2o3&quot;,
      word == &quot;oxygen&quot;          ~ &quot;o2&quot;,
      word == &quot;platinum&quot;        ~ &quot;pt&quot;,
      word == &quot;palladium&quot;       ~ &quot;pd&quot;,
      word == &quot;nickel&quot;          ~ &quot;ni&quot;,
      word == &quot;iron&quot;            ~ &quot;fe&quot;,
      word == &quot;copper&quot;          ~ &quot;cu&quot;,
      word == &quot;lithium&quot;         ~ &quot;li&quot;,
      word == &quot;zsm&quot;             ~ &quot;zeolite&quot;,
      word == &quot;zsm5&quot;            ~ &quot;zeolite&quot;,
      word == &quot;hzsm&quot;            ~ &quot;zeolite&quot;,
      word == &quot;hzsm5&quot;           ~ &quot;zeolite&quot;,
      word == &quot;zeolit&quot;          ~ &quot;zeolite&quot;,
      word == &quot;ga&quot;              ~ &quot;gas&quot;,
      word == &quot;wg&quot;              ~ &quot;wgs&quot;,
      word == &quot;hydrogen&quot;        ~ &quot;h2&quot;,
      word == &quot;nitrogen&quot;        ~ &quot;n2&quot;,
      TRUE                      ~ word
    )
  ) %&gt;%
  identity()</code></pre>
<p>Now we need to count all the words and make a graph out of this. Since we do not want all the unique words, since there will be too many to plot, we only keep the first <strong>30</strong> words, thus ensuring a better looking graph.</p>
<pre class="r"><code>top_n_words &lt;- data_words %&gt;%
  count(word, sort = TRUE) %&gt;%
  mutate(word = fct_reorder(word, n)) %&gt;%
  head(30) %&gt;%
  identity()</code></pre>
<p>As seen, ‘catalyst’ is the most common word, and this is no surprise, as my field are in the Research &amp; Development of various catalysts and catalytic systems. Other interesting words are Fischer (<em>n</em> = 1509) and Tropsch (<em>n</em> = 1516), again, this is my main field of research, and I have clearly spend some time finding articles on this topic. I am surprise that these are not equal, since they usually appears together, i.e. Fischer-Tropsch. There is not much we can learn here, apart from analysing each of the words, however, this was not the aim here.</p>
<p><img src="/post/2018-12-21-zotero-database-text-mining_files/figure-html/fig-most-words-1.png" width="672" /></p>
<p>The next bit, I found particularly interesting. First we need to count the words, and then filter these to remove words with low counts. This is just to ensure that we do not have too many words to do the correlation on. Now how many one need to filter is a matter of trial and error, as it depends on the final relation graph. Here I have used a count of <strong>100</strong>, however, this can be change depending on the situation and the total words.</p>
<pre class="r"><code>filter_data_words &lt;- data_words %&gt;%
  add_count(word) %&gt;%
  filter(n &gt;= 75) %&gt;%
  identity()</code></pre>
<p>Now we want to determine the correlation between pairs of words. This will allow us to see how these terms correlate to one another. For this, the <code>pairwise_cor()</code> function from the <code>widyr</code> package is used. For this we require the word and the document id, thus the need to get this during the first call to the <code>SQL</code> database. In order to not have too many correlations, we filter this to a level of <strong>0.145</strong>, again, this is arbitrary, and needs some trail and error to limit the amount of words in the final graph. Another way is to use the <code>head()</code> function, and get the top <em>n</em> words. Either will do.</p>
<pre class="r"><code>top_word_correlation &lt;- filter_data_words %&gt;%
  pairwise_cor(word, item_id, sort = TRUE) %&gt;%
  filter(correlation &gt; 0.145) %&gt;%
  identity()</code></pre>
<p>In order to indicate the relationships between the words, and properly use the <code>igraph</code> package, <code>vertices</code> are required. These are the counts of the words, to produce a sized point of the words. The relationship are determined between the correlations. Here we also filter the words to only include those in the correlation data.</p>
<pre class="r"><code>vertices &lt;- filter_data_words %&gt;%
  group_by(word) %&gt;%
  summarise(occurences = n()) %&gt;%
  filter(word %in% top_word_correlation$item1 |
           word %in% top_word_correlation$item2) %&gt;%
  identity()</code></pre>
<p><img src="/post/2018-12-21-zotero-database-text-mining_files/figure-html/fig-correlation-1.png" width="672" /></p>
<p>Finally we have produced a graph indicating the relationship between words. The sizes of the points indicates the frequency of the word, while the lines indicate the correlation between words. Now, there is definitely a major theme in all these articles, as there are a long line of correlated concepts. This spans FTS, reforming, fuel cell, and combustion. No surprise as these are the areas needed for what I am looking for. These can be made separate, by increasing the correlation filter, however, within all these, there are still a few separate clusters. What I enjoy about this, is the fact that one can observe which metals are preferred for the various processes, i.e. Fe and cobalt, on SiO2 and Al2O3, dominate the Fischer-Tropsch cluster, while Pt, is associate more with cobalt and Al2O3, which does makes sense, well at least to those in the field.</p>
<p>This is an interesting way of looking at text data. It is very informative, and one can see the links between these processes.</p>
